[submodule "3rd/zycore"]
	path = 3rd/zycore
	url = https://github.com/zyantific/zycore-c.git
[submodule "3rd/zydis"]
	path = 3rd/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "3rd/funchook"]
	path = 3rd/funchook
	url = https://github.com/kubo/funchook.git
[submodule "3rd/fmt"]
	path = 3rd/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd/isocline"]
	path = 3rd/isocline
	url = https://github.com/VeroFess/isocline.git
[submodule "3rd/eventpp"]
	path = 3rd/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "3rd/folly"]
	path = 3rd/folly
	url = https://github.com/VeroFess/folly.git
